*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.logo-link{
    text-decoration: none;
    color: black;
}
.logo{
    font-size: 80px;
    padding: 50px 0;
}
.logo span{
    color:#4bcaff;
}
.top-nav{
    background-color: #35444f;
    text-align: center;
}
.top-navlink{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 20px 40px;
}
.top-navlink:hover{
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}
.side-nav{
    border:1px solid black;
    display: inline-block;
    margin-right: 50px;
    vertical-align: top;
    width: 350px;
}
.side-nav-link{
    display: block;
    color: #495863;
    font-size: 30px;
    padding: 20px;
    text-decoration: none;
}
.side-nav-link:hover{
    background-color: #dbdbdb;
    color: black;
    padding-left: 40px;
}
article{
    display: inline-block;
    width: 875px;

}
.image{
    border: 1px solid black;
    text-align: center;
    padding:100px 0 ;
 }

.nav-foot{
    background-color: #b4b7ba;
    margin-bottom: 20px;

}
.nav-foot-link{
    text-decoration: none;
    display: inline-block;
    color: #0c1927;
    font-size: 28px;
    margin: 20px 20px;

}
.nav-foot-link:hover{
    color: #548fab;
    border-bottom: 1px solid #548fab;
    padding-bottom: 2px;
    margin-bottom: 17px;
}
.foot-p{
    text-align: right;
    display: inline-block;
    color: #0c1927;
    font-size: 20px;
    padding: 25px 20px;
    float: right;
    vertical-align: middle;
    font-weight: bold;
}
main{
    margin-top: 50px;
    margin-bottom: 50px;
}
p{
    font-size: 18px;
    padding: 30px 40px;
    text-align: justify;
}
